:global {
    body,
    html {
        min-height: 100%;
    }
    
    p,
    h1,
    h2,
    h3,
    h4,
    li,
    input,
    textarea,
    button {
        -webkit-font-smoothing: antialiased;
    }
}

.headerTitle {
    font-size: 1.5rem;
}

.pageHeader,
.pageFooter {
    flex-shrink: 0;
}

.pageBody {
    flex-grow: 1;
}