// Break Points:
$MOBILE: 576px;
$TABLET: 768px;
$LAPTOP: 992px;
$DESKTOP: 1200px;

$blue: #6195ED;
$gray: #4D4D4D;
$turquoise: #2D818F;
$darkblue: #1C4C55;

$header_color: $darkblue;
$subhead_color: $turquoise;
$text_color: $gray;
$link_color: $blue;
