.resultsList {
  padding: 0;
  display: grid;
  grid-template: auto/ 1fr;
  grid-gap: 20px;

  @include respond($TABLET) { grid-template-columns: repeat(2, 1fr); }
  @include respond($LAPTOP) { grid-template-columns: repeat(3, 1fr); }
  @include respond($DESKTOP) { grid-template-columns: repeat(4, 1fr); }
}

.result {
  width: 100%;
}