.list {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.favorite {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  h4 { font-size: 1rem; }
  img { width: 50px; }
}
